<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="styling.css" type="text/css">
	<title>Rank That Pokemon!</title>
</head>

<body>
	<h1>Information about <%- pokeName %></h1>
	<div><%- infoTable %></div>
	<hr>
	<h1>Ratings for <%- pokeName %></h1>
	<div><%- ratingsTable ></div>
</body>

</html>
