<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="styling.css" type="text/css">
	<title>Rank That Pokemon!</title>
</head>

<body>
	<h1>Welcome to Rate That Pokemon!</h1>
	Click <a href="/rating">here</a> to submit a rating<br><br>
	Click <a href="/viewratings">here</a> to see a full list of rankings<br>

	<hr>
</body>

</html>
