<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/styling.css" type="text/css">
	<title>Rank That Pokemon!</title>
</head>

<body>
	<div><%- addedMessage %></div>
    <div><%- ratingsTable %></div>
	<hr>
</body>

</html>
